<p>detail works!</p>
<div class="detail-card">
    <div class="top">
        <img src="https://images.ygoprodeck.com/images/cards/6983839.jpg" alt="">
    </div>
    <div class="botton">
        <h2>Nombre de la Carta</h2>

        <div class="item">
            <p class="description">Descripcion</p>
        </div>

        <div class="item">
            <h3 class="title">Titulo</h3>
            <p class="description">Descripcion</p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Market</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Market</th>
                    <td>Price</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
